/* Defaults */
body{
	/*background-color: rgba(18, 18, 18, 1);*/
	background-color: rgb(1, 1, 1); 
	font-family: 'Open Sans',Verdana,Helvetica,sans-serif;
}

.text-green{
	color:rgba(128, 193, 46, 1);
}

.text-white{
	color:rgba(255, 255, 255, 1);
}



/* Home */
.home-logo{
	margin-top: 50px;
}

.home-logo img{
	width: 70%;
	max-width: 510px;
}

.home-hint{
	position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
}

.touch-area{
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    cursor: pointer;
}



/* Header */
.header{	
	margin-top: 50px;
	margin-bottom: 30px;
    background-color: black;
}

.header-logo img{
	max-width: 250px;
}

.header-quizz-name{
	text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

/* Footer */
.footer{
	position: fixed;	
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;	
}



/* Generic between pages */
.hr-green{
	border-top: 1px solid rgba(128, 193, 46, 1);
}
.btn-green{
	cursor: pointer;	
	background-color: rgba(128, 193, 46, 1);
}



/* Intro */
.intro-img{
	width: 100%;
}







