/* Defaults */
@font-face {
    font-family: 'OpenSans-Light';
    src: url('./assets/OpenSans-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
@font-face {
	font-family: 'OpenSans-Regular';
	src: url('./assets/OpenSans-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'OpenSans-Bold';
	src: url('./assets/OpenSans-Bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
body{
	/*background-color: rgba(18, 18, 18, 1);*/
	background-color: rgb(1, 1, 1); 
	font-family: 'OpenSans-Regular',Verdana,Helvetica,sans-serif;
}

.font-regular{
	font-family: 'OpenSans-Regular',Verdana,Helvetica,sans-serif;
}

.font-bold{
	font-family: 'OpenSans-Bold',Verdana,Helvetica,sans-serif;
}

.font-light{
	font-family: 'OpenSans-Light',Verdana,Helvetica,sans-serif;
}

.font-22{
	font-size: 22pt;
}

.font-xs{
	font-size: 30pt;
}

.font-36{
	font-size: 36pt;
}

.font-md{
	font-size: 40pt;
}

.font-lg{
	font-size: 50pt;
}

.font-xlg{
	font-size: 65pt;
}

.font-100{
	font-size: 100pt;
}

.font-200{
	font-size: 200pt;
}

.container{
	width: 100%;
    zoom: 0.8;/*0.8*/
}

.text-green{
	color:rgba(128, 193, 46, 1);
}

.text-white{
	color:rgba(255, 255, 255, 1);
}



/* Home */
.home-logo{
	margin-top: 50px;
}

.home-logo img{
	width: 70%;
	max-width: 510px;
}

.home-hint{
	position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
}

.touch-area{
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    cursor: pointer;
}



/* Header */
.header{	
	margin-top: 50px;
	margin-bottom: 30px;
    background-color: black;
}

.header-logo img{
	max-width: 250px;
}

.header-quizz-name{
	text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 50pt;
}

/* Footer */
.footer{
	position: fixed;	
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;	
}



/* Generic between pages */
.hr-green{
	border-top: 1px solid rgba(128, 193, 46, 1);
}
.btn-green{
	cursor: pointer;	
	background-color: rgba(128, 193, 46, 1);
}

/* init quizz */
.hint-number{
	float: left;
	margin-right: 30px;
}
.hint-desc{
	margin-top: 50px;
}

/* Intro */
.intro-img{
	width: 100%;
}


/* Questions template */
.q-number{
	float :left;
    width: 300px;
    margin-top: -72px;
    height: 270px;
}

.q-text{

	    margin-bottom: 100px;
    margin-top: 30px;
}
.q-text h3{
	margin-bottom: 0;
    margin-top: 40px;
}

.q-text span{
}

p{
	padding:60px;
}
[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 118px;
    cursor: pointer;
    line-height: 50px;
    display: inline-block;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 10px;
    width: 100px;
    height: 100px;    
    border: 5px solid #80c12e;
    border-radius: 100%;
    background: #1a1a1a;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 82px;
    height: 82px;
    background: #80c12e;
    position: absolute;
    top: 19px;
    left: 9px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

/* Attendee */
.attendee-hint{	    
    position: absolute;
    top: 90px;
    right: 20px;
}

.attendee-input{
    width: 90%;
    background-color: rgba(18,18,18,1);
    border-color: black;
    border: 1px solid #2f2f2f;
}

/* keyboard */
#mlkeyboard {
	zoom: 1.2;
	bottom: 90px !important;
	font-size: 30pt !important;
}

ul{
	background: none !important;
	width: 100% !important;
	margin-left: 130px !important;
}
li{
	 background-color: rgba(18,18,18,1) !important;
    border-color: black !important;
    border: 1px solid #2f2f2f !important;

	width: 90px !important;
	line-height: 40px !important;
	margin: 2px !important;
	font-size: 30pt !important;
	height: 60px !important;
}

#mlkeyboard-capslock{
	width: 185px !important;
}

#mlkeyboard-return{
	display: none !important;
}

#mlkeyboard-left-shift{
	margin-left: 90px !important;
}

#mlkeyboard-capslock{
	margin-left: 50px !important;	
}

#mlkeyboard-space{
	margin-left: 280px !important;
    width: 770px !important;	
}


/* Results */
svg {
  width: 200px;
  height: 200px;
  -webkit-transform:rotate(90deg);
          transform:rotate(90deg);
}

.circle-bg {
  stroke: rgba(18,18,18,1);
  stroke-width: 16px;
  fill: transparent;
}

.circle {
  stroke: rgba(128, 193, 46, 1);
  stroke-width: 16px;
  stroke-dasharray: 314.2052917480469;
  fill: transparent;
}

.percentage {
 
  text-anchor: middle;
  stroke-width: 0;
  fill: #AAA;
}

/* circles by ids */
#result-1{
	width: 400px;
	height: 500px;
}   
#result-label-1{
    top: 420px;
    position: absolute;
    left: 515px;
}

#result-2{
	width: 800px;
	height: 800px;
}   
#result-label-2{
	top: 150px;
    position: absolute;
    left: 1035px;
}
#result-3{
	width: 400px;
	height: 500px;
}    
#result-label-3{
    top: 420px;
    position: absolute;
    right: 525px;
}