/* Defaults */
@font-face {
    font-family: 'OpenSans-Light';
    src: url('./assets/OpenSans-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
@font-face {
	font-family: 'OpenSans-Regular';
	src: url('./assets/OpenSans-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'OpenSans-Bold';
	src: url('./assets/OpenSans-Bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
body{
	/*background-color: rgba(18, 18, 18, 1);*/
	background-color: rgb(1, 1, 1); 
	font-family: 'OpenSans-Regular',Verdana,Helvetica,sans-serif;
}

.font-regular{
	font-family: 'OpenSans-Regular',Verdana,Helvetica,sans-serif;
}

.font-bold{
	font-family: 'OpenSans-Bold',Verdana,Helvetica,sans-serif;
}

.font-light{
	font-family: 'OpenSans-Light',Verdana,Helvetica,sans-serif;
}

.font-18{
	font-size: 18pt;
}


.font-22{
	font-size: 22pt;
}

.font-xs{
	font-size: 30pt;
}

.font-36{
	font-size: 36pt;
}

.font-md{
	font-size: 40pt;
}

.font-lg{
	font-size: 50pt;
}

.font-xlg{
	font-size: 65pt;
}

.font-80{
	font-size: 80pt;
}

.font-100{
	font-size: 100pt;
}

.font-200{
	font-size: 200pt;
}

.container{
	width: 100%;
    zoom: 0.8;/*0.8*/
    padding-right: 200px;
    padding-left: 200px;
    padding-top: 110px;
}

.text-green{
	color:rgba(128, 193, 46, 1);
}

.text-white{
	color:rgba(255, 255, 255, 1);
}



/* Home */
.home-logo{
	margin-top: 50px;
}

.home-logo img{
	width: 70%;
	max-width: 510px;
}

.home-hint{
	position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
}

.touch-area{
	position: absolute;
	width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    cursor: pointer;
    background-image: url('./assets/screensaver.mp4')
}



/* Header */
.header{	
	margin-top: 25px;
	margin-bottom: 30px;
    background-color: black;
}

.header-logo img{
	max-width: 355px;
	margin-top: 25px;
}

.header-quizz-name{
	text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 50pt;
}

/* Footer */
.footer{
	position: fixed;	
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;	
}



/* Generic between pages */
hr {
	margin-top: 0;
	margin-bottom: 0;
}

.h3-200{
	height: 200px;
	padding-top: 60px;
}

.hr-green{
	border-top: 2px solid rgba(128, 193, 46, 1);
}
.btn-green{
	cursor: pointer;	
	
	height: 90px;
    width: 290px;
    padding-top: 15px;

	background-color:#80c12e;
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#80c12e, endColorstr=#4d8a00);
	background-image:-moz-linear-gradient(top, #80c12e 50%, #4d8a00 100%);
	background-image:-webkit-linear-gradient(top, #80c12e 50%, #4d8a00 100%);
	background-image:-ms-linear-gradient(top, #80c12e 50%, #4d8a00 100%);
	background-image:linear-gradient(top, #80c12e 50%, #4d8a00 100%);
	background-image:-o-linear-gradient(top, #80c12e 50%, #4d8a00 100%);
	background-image:-webkit-gradient(linear, right top, right bottom, color-stop(50%,#80c12e), color-stop(100%,#4d8a00));
}

.btn-green-2{
	cursor: pointer;	
	background-color: rgba(128, 193, 46, 1);
	height: 90px;
    width: 385px;
    padding-top: 15px;

    background-color:#80c12e;
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#80c12e, endColorstr=#4d8a00);
	background-image:-moz-linear-gradient(top, #80c12e 50%, #4d8a00 100%);
	background-image:-webkit-linear-gradient(top, #80c12e 50%, #4d8a00 100%);
	background-image:-ms-linear-gradient(top, #80c12e 50%, #4d8a00 100%);
	background-image:linear-gradient(top, #80c12e 50%, #4d8a00 100%);
	background-image:-o-linear-gradient(top, #80c12e 50%, #4d8a00 100%);
	background-image:-webkit-gradient(linear, right top, right bottom, color-stop(50%,#80c12e), color-stop(100%,#4d8a00));

}

/* init quizz */
.hint-number{
	float: left;
	margin-right: 30px;
}
.hint-desc{
	margin-top: 40px;
}

/* Intro */
.intro-img{
	width: 100%;
	margin-top: 25px;
}


/* Questions template */
.q-number{
	float :left;
    width: 370px;
    margin-top: -82px;
    height: 260px;
}

.q-text{
    margin-top: 0;
}
.q-text h3{
	padding-top: 10px;
	margin-bottom: 22px;
    margin-top: 0;
}

.q-text span{
}

p{
	padding:60px;
	padding-left: 0;
}
[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 118px;
    cursor: pointer;
    line-height: 50px;
    display: inline-block;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 10px;
    width: 106px;
    height: 106px;    
    border: 5px solid #80c12e;
    border-radius: 100%;
    background: #1a1a1a;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 88px;
    height: 88px;
    background: #80c12e;
    position: absolute;
    top: 19px;
    left: 9px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;

    background: #80c12e;
    background: -webkit-radial-gradient(circle, #80c12e, #80c12e, #023802);
    background: -o-radial-gradient(circle, #80c12e, #80c12e, #023802);
    background: -moz-radial-gradient(circle, #80c12e, #80c12e, #023802);
    background: radial-gradient(circle, #80c12e, #80c12e, #023802);


}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

/* Attendee */
.attendee-h3{
	height: 200px;
	margin-top: 0;
	margin-bottom: 0;
}
.attendee-hint{	    
    position: absolute;
    top: 90px;
    right: 20px;
}

.attendee-input{
    width: 90%;
    background-color: rgba(18,18,18,1);
    border-color: black;
    border: 1px solid #2f2f2f;
    height: 60px;
    margin-top: 30px;
}

/* keyboard */
#mlkeyboard {
	zoom: 1.1;
	bottom: 90px !important;
	font-size: 30pt !important;
}

ul{
	background: none !important;
	width: 100% !important;
	margin-left: 200px !important;
}
li{
	background-color: rgba(18,18,18,1) !important;
    border-color: black !important;
    border: 1px solid #2f2f2f !important;
    color:white;
	width: 90px !important;
	line-height: 40px !important;
	margin: 2px !important;
	font-size: 30pt !important;
	height: 60px !important;
	padding-top: 15px;
}

#mlkeyboard-capslock{
	width: 185px !important;
}

#mlkeyboard-return{
	display: none !important;
}

#mlkeyboard-left-shift{
	margin-left: 90px !important;
}

#mlkeyboard-capslock{
	margin-left: 50px !important;	
}

#mlkeyboard-space{
	margin-left: 280px !important;
    width: 770px !important;	
}


/* Results */
svg {
  width: 200px;
  height: 200px;
  -webkit-transform:rotate(90deg);
          transform:rotate(90deg);
}

.circle-bg {
  stroke: rgba(18,18,18,1);
  stroke-width: 16px;
  fill: transparent;
}

.circle {
  stroke: rgba(128, 193, 46, 1);
  stroke-width: 16px;
  stroke-dasharray: 314.2052917480469;
  fill: transparent;
}

.percentage {
 
  text-anchor: middle;
  stroke-width: 0;
  fill: #AAA;
}

/* circles by ids */
#result-1{
	width: 400px;
	height: 500px;
}   
#result-label-1{
    top: 420px;
    position: absolute;
    left: 335px;
}

#result-2{
	width: 800px;
	height: 800px;
}   
#result-label-2{
	top: 150px;
    position: absolute;
    left: 865px;
}
#result-3{
	width: 400px;
	height: 500px;
}    
#result-label-3{
    top: 420px;
    position: absolute;
    right: 335px;
}